<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- simplify passing property args -->
    <bean id="t1000"
          class="com.training.spring.impls.robot.ModelT1000"
        p:hand-ref="toshibaHand"
        p:leg-ref="toshibaLeg"
        p:head-ref="toshibaHead">

        <constructor-arg ref="sonyHand"/>
        <constructor-arg ref="sonyLeg"/>
        <constructor-arg ref="sonyHead"/>

    </bean>

    <!-- simplify passing constructor args -->
    <bean id="t1000Empty" class="com.training.spring.impls.robot.ModelT1000"
          c:hand-ref="sonyHand"
          c:leg-ref="sonyLeg"
          c:head-ref="sonyHead">
    </bean>


    <bean id="sonyHand" class="com.training.spring.impls.sony.SonyHand"/>
    <bean id="sonyHead" class="com.training.spring.impls.sony.SonyHead"/>
    <bean id="sonyLeg" class="com.training.spring.impls.sony.SonyLeg"/>

    <bean id="toshibaHand" class="com.training.spring.impls.toshiba.ToshibaHand"/>
    <bean id="toshibaHead" class="com.training.spring.impls.toshiba.ToshibaHead"/>
    <bean id="toshibaLeg" class="com.training.spring.impls.toshiba.ToshibaLeg"/>

</beans>
